* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}
head, body {
    width: 100%;
    height: 100%;
}
main{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.boxboss {
    width: 400px;
    height: 400px;
    margin: 10% auto 0;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.boxchild {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.boxchild:hover {
    background-color: black;
    border: 2px solid white;
    color: white;
}
.score {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}
.score span {
    color: black;
    display: block;
    text-align: center;
    padding-top: 5px;
}